<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <script language="javascript" type="text/javascript" src="~/Scripts/MyTestScript.js"></script>
    <link rel="stylesheet" href="~/public/vendor.css" asp-append-version="true" />
    <script src="~/public/vendor.js"></script>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
</head>
<body>

<div class="header">
    <button type="button" class="buttonclass" onclick="test('menu')">Отделы</button>
    <button type="button" class="buttonclass" onclick="show('menu')">Скрыть</button>

</div>
<div id="menu" class="sildebar">
    <div class="treeview">
        <ul>
            <li>
                <div>
                    <p>
                        <a href="#" class="sc" onclick="return UnHide(this)">&#9660;</a>
                        <a href="#">Отделы!!!</a>
                    </p>
                </div>
                <ul>
                    <li class="cl">
                        <div>
                            <p>
                                <a href="#" class="sc" onclick="return UnHide(this)">&#9658;</a>
                                <a href="#">Информационный отдел</a>
                            </p>
                        </div>
                        <ul>
                            <li>
                                <div>
                                    <p>@Html.ActionLink("Бдк!!!", "Bdk", "Otdel")</p>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div>
                                    <p>@Html.ActionLink("Формирование писем","BdkLetter","Otdel")</p>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div>
                                    <p>@Html.ActionLink("Создание шаблонов", "AddTemplate", "Otdel")</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="cl">
                        <div>
                            <p>
                                <a href="#" class="sc" onclick="return UnHide(this)">&#9658;</a>
                                <a href="#">Урегулирование задолженности.</a>
                            </p>
                        </div>
                        <ul>
                            <li>
                                <div>
                                    <p>@Html.ActionLink("Решения!!!", "Reshenie", "Otdel")</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="cl">
                        <div>
                            <p>
                                <a href="#" class="sc" onclick="return UnHide(this)">&#9658;</a>
                                <a href="#">Аналитический отдел</a>
                            </p>
                        </div>
                        <ul>
                            <li>
                                <div>
                                    <p>@Html.ActionLink("Отчет слияния лиц!!!", "MergeFace", "Otdel")</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="cl">
                        <div>
                            <p>
                                <a href="#" class="sc" onclick="return UnHide(this)">&#9658;</a>
                                <a href="#">Отдел предроверочного анализа</a>
                            </p>
                        </div>
                        <ul>
                            <li>
                                <div>
                                    <p>@Html.ActionLink("Поручение об истребовании!!!", "PredproverkaSoprovod", "Otdel")</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="content">
    @RenderBody()
</div>
<div class="footer">

</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>